<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547880124958-6g84aos3menmotk2al2aeuol72bc2j42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547880124958-6g84aos3menmotk2al2aeuol72bc2j42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547880124958-j2pajrake71g7n93md2252vehbffgv2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmptCODp0Bdjx-IRd9l5-_WEfGU_Y3utI</string>
	<key>GCM_SENDER_ID</key>
	<string>547880124958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caglar.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-ai-c2c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-ai-c2c4d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547880124958:ios:21e6b72b4119a0f8f4e40f</string>
</dict>
</plist>